@import '../../../assets/colour-scheme.scss';
.pageContainer {
    max-width: 100vw;
    min-height: 90vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 120px auto 1fr;

    background-image: url('../../../assets/images/background1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .pageBody {
        grid-row: 2;
        display: grid;
        grid-template-rows: 1fr;
        justify-self: center;
        align-self: center;
        padding: 20px;
        border: 1px darkgray solid;
        border-radius: 5px;
        background: white;
        min-width: 460px;
    }
}