form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 5px;
}

.results {
    margin: 10px;

    .item {
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 5px;
        align-items: center;

        button {
            border-radius: 50%;
            padding: 5px;
            margin-bottom: 5px;

            mat-icon {
                vertical-align: middle;
            }
        }

        .added {
            background: red;
        }
    }
}