.topRow {
    display: grid;
    grid-template-columns: 1fr 1fr;

    form {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 10px;
        align-items: center;
        justify-items: right;

        input {
            min-width: 150px;
        }
    }

    .addTopic {
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        grid-column-gap: 10px;
        border-radius: 5px;
        align-items: center;
        cursor: pointer;
        padding: 2px;
        justify-self: left;

        h4 {
            font-weight: 400;
            grid-column: 2;
        }
        mat-icon {
            grid-column: 3;
        }
    }
}

.topicList {
    padding: 10px;
    display: grid;

    h2{ 
        mat-icon {
            cursor: pointer;
        }
    }

    .list {
    }
}

.subbedTopics {

}

.allTopics {

}