<div class='pageContainer'>
  <div class='header'>
      <div class='img'>
        <img src='../../../assets/images/logo.png'/>
      </div>
      <h1>Welcome</h1>
  </div>

  <h4>About us</h4>
  <p>Lorem ipsum dolor sit amet, antiopam forensibus mei et. Qui in prima nemore discere. Qui sonet latine cu, appellantur complectitur comprehensam ad mel. Ex per melius tacimates disputando, ei mea wisi ludus repudiandae. Nec cu liber complectitur. Eum et sanctus aliquando quaerendum, nibh interpretaris est ex.</p>
  
  <h4>More Info</h4>
  <p>Lorem ipsum dolor sit amet, antiopam forensibus mei et. Qui in prima nemore discere. Qui sonet latine cu, appellantur complectitur comprehensam ad mel. Ex per melius tacimates disputando, ei mea wisi ludus repudiandae. Nec cu liber complectitur. Eum et sanctus aliquando quaerendum, nibh interpretaris est ex.</p>