<div class='pageContainer' *ngIf='(topic$|async)!=null && !(isLoading$|async)'>
  <div class='topRow'>
    <div class='private'>
        <mat-icon *ngIf='(topic$|async).isPrivate'>lock_open</mat-icon>
        <mat-icon *ngIf='!((topic$|async).isPrivate)'>public</mat-icon>
    </div>
    <h1>{{(topic$|async) != null?((topic$|async).Title):'Unknown'}}</h1>
    <small>Created: {{(topic$|async).CreationDate | date}}</small>
    <div class='sub' *ngIf='getRole() == "user"'>
      <button class='btn btn-primary' *ngIf='!isSubbed()' (click)='subToTopic()'>Subscribe</button>
      <button class='btn btn-danger' *ngIf='isSubbed()' (click)='unsubFromTopic()'>Unsubscribe</button>
    </div>
    <div class='sub' *ngIf='getRole() == "owner"'>
      <button class='btn btn-primary' (click)='openAddSubs()'>Add subscribers<mat-icon style="vertical-align: middle;">rss_feed</mat-icon></button>
      <mat-icon class="delete" (click)='deleteTopic()'>delete</mat-icon>
    </div>
  </div>
  
  <div *ngIf='((topic$|async).posts)' class='postList'>
    <div *ngFor='let p of ((topic$|async).posts)' class='postItem'>
      <div class='info'>
        <div *ngIf='p.creator'>
          <h4>{{p.creator.FullName?p.creator.FullName:'Anon'}}</h4>
          <p>{{p.creator.StudentId?('(' + p.creator.StudentId + ')'):''}}</p>
        </div>
        <small>Posted: {{p.TimeStamp*1000|date}}</small>
      </div>
      <div class='content'>
        <p>{{p.Text}}</p>
      </div>
      <div class='info'>
        <div *ngIf='isUsersPost(p)'>
          <mat-icon (click)='deletePost(p.Id)' class="delete">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf='!((topic$|async).posts)' class='noPosts'>
    <div>
      <h2>No Posts</h2>
      <mat-icon>cancel_presentation</mat-icon>
    </div>
  </div>


  <form [formGroup]='postForm' *ngIf='(user$|async)'>
    <textarea id='message' class='form-control' formControlName='message' maxlength="200"></textarea>
    <button class='btn btn-primary' (click)='openURLShorten()'><mat-icon>attachment</mat-icon></button>
    <button class='btn btn-primary' (click)='tryPost()' [disabled]='!postForm.valid'><mat-icon>send</mat-icon></button>
    <small>{{postForm.value.message.length}}/300</small>
  </form>
</div>
<div *ngIf='(topic$|async)==null && !(isLoading$|async)'>
  <h1>Topic does not exist or failed to get topic</h1>
</div>
<div *ngIf='(isLoading$|async)'>
  <h1>Loading</h1>
</div>