<div class='gridContainer'>
  <h2>Login</h2>
  <form [formGroup]='loginForm'>
    <div class='form-group'>
      <label for='email'>Email</label>
      <input type='text' id='email' class='form-control' formControlName='email'/>
    </div>
    <div class='form-group'>
      <label for='password'>Password</label>
      <input autocomplete="off" type='password' id='password' class='form-control' formControlName='password'/>
      <small class="error">{{errorMessage}}</small>
      <small class="success">{{successMessage}}</small>
    </div>
    <div class='buttons'>
      <div>
        <!-- <small (click)='goToReset()'>Forgotten password?</small> -->
        <small (click)='goToRegister()'>Not registered yet?</small>
      </div>
      <button class='btn btn-primary' (click)='tryLogin()' [disabled]='!loginForm.valid'>Login</button>
    </div>
  </form>
</div>