.pageContainer {
    margin: 20px;
    padding: 20px;

    display: grid;
    justify-items: center;
    
    .topRow {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr auto;

        .breadcrumbs {
            margin: 5px;
    
            a {
                color: blue;
            cursor: pointer;
            }
            
            label {
                margin: 5px;
            }
        }
    }

    .pageRoute {
        width: 80%;
    }
}