<div class="navBg">
  <div class="navItems">
    <app-logo class="logo"></app-logo>
    <div class="main">
      <span routerLink='/home/' routerLinkActive='active'>Home</span>
      <span routerLink='/topics/' routerLinkActive='active'>Forums</span>
      <!-- <span routerLink='/info/' routerLinkActive='active'>Info</span> -->
    </div>
    <div class="auth" *ngIf='!(user$|async)'>
      <span routerLink='/auth/login/' routerLinkActive='active'>Login</span>
      <span routerLink='/auth/register/' routerLinkActive='active'>Register</span>
    </div>
    <div class="auth" *ngIf='(user$|async)'>
        <span (click)='logout()'>Logout</span>
        <!-- <span (click)='selectPage("user")' [class.active]='router.url =="/user"'>My Profile</span> -->
    </div>
  </div>
</div>